<div>
    <h1
        id="content-main-h1"
        class="absolute top-12 left-2/4 -translate-x-2/4 text-center text-[40px] font-medium pt-7"
    >
    </h1>
    <a
        id="content-main-a-tittle"
        href="#"
        class="absolute top-[135px] left-2/4 -translate-x-2/4 text-center underline decoration-solid text-sm"
    ></a>
    <div
        class="absolute bottom-14 left-2/4 -translate-x-2/4 flex justify-center [&>button]:backdrop-cristal  [&>button]:px-6 [&>button]:py-1 [&>button]:rounded [&>button]:h-[40px] [&>button]:w-[264px]"
    >
        <button
            id={`content-button-0`}
            class={" px-6 py-1 rounded w-[264px] h-[40px] backdrop-cristal"}
        >
        </button>
        <button
            id={`content-button-1`}
            class={" px-6 py-1 rounded w-[264px] h-[40px] backdrop-cristal"}
        >
        </button>
    </div>
    <a
        id="content-main-a-button"
        href="#"
        class="absolute bottom-0 left-2/4 -translate-x-2/4 pb-4 px-6 underline decoration-solid text-xs font-normal"
    ></a>
</div>
