<footer
    class="absolute bottom-4 left-0 w-full flex justify-center gap-3 [&>span]:cursor-pointer [&>span]:text-[13px] text-[#D0D1D2]"
>
    <span>Tesla 2024</span>
    <span>Privacidad y legal</span>
    <span>Cantacto</span>
    <span>Noticias</span>
    <span>Sequir Informado</span>
    <span>Localización de tiendas</span>
</footer>
